<h2>{{ post.title }}</h2>

<div>
  <img src="{{post.imageUrl}}" alt="{{post.title}}" width="200px">
</div>
<div> {{ post.content }} - by {{ post.author.username }} ♥️</div>

<hr>

{{#unless post.comments}}
  <p>No comments yet!</p>
{{/unless}}

{{#each post.comments}}
  <p> <b> {{ this.author.username }} </b>: {{ this.content }} </p>
{{/each}}

<hr>
<h3> Add a comment </h3>

<form action="/posts/{{post._id}}/comment" method="POST">
  <textarea name="content" cols="50" rows="10"></textarea>
  <button type="submit"> Comment </button>
</form>